html
  head
    title e-commerce
    script(src="./component/angular/angular.min.js")
    script(src="./component/angular-ui-router/release/angular-ui-router.min.js")
    script(src="./component/socket.io-client/dist/socket.io.js")
  body(ng-app="app")
    div(ng-controller="controller")
      h1 Hi
      span {{name}}
      button(ui-sref='home')
        | click here
      div(ui-view="main")

    script(src="./book.js")